#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.binary-container {
  display: flex;
  width: 765px;
  justify-content: space-between;
}

.dot-container {
  display: flex;
  width: 215px;
  justify-content: space-between;
}

.dot-stack {
  display: flex;
  flex-direction: column;
  height: 545px;
  width: 100px;
  justify-content: end;
}

.digit {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 3.5rem;
  font-weight: bold;
}

.dot {
  margin-top: 15px;
  background-color: rgb(220, 220, 220);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}